#parse("Front/Head.html")
<div align="center">
    <p>#if($Model.UserName == "admin")
    welcome! $Model.Username<br />
    <a href="../../ItemView.ashx?Action=Edit&ItemId=$Model.item.ItemId">Edit</a>
    <a href="../../ItemView.ashx?Action=Delete&ItemId=$Model.item.ItemId">Delete</a>
    #end
    </p>
</div>
<form style="align-content:center">
    <h1>$Model.item.ItemName</h1>
    <p>
        $Model.item.ItemDes
    </p>
    <p><img src="$Model.item.ItemImage" height="400" width="400" /></p>
</form>
<br />
<h2><a href="../../MainPage.ashx?username=$Model.Username">Go back to MainPage</a></h2>
#parse("Front/Foot.html")
